{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="d-flex h-100 p-5 bg-light border rounded-3 my-5">
            <div class="m-5">
                <h1>Noticias G1</h1>
                <p>Para ver as Noticias do G1, clique no botão abaixo</p>
                <a class="btn btn-primary" href="{% url 'noticias_g1' %}">Ver Notícias</a>
            </div>
            <div class="m-5">
                <h1>Noticias Yahoo!</h1>
                <p>Para ver as Noticias do Yahoo, clique no botão abaixo</p>
                <a class="btn btn-danger" href="{% url 'noticias_yahoo' %}">Ver Notícias</a>
            </div>
            <div class="m-5">
                <h1>Ofertas</h1>
                <p>Para ver as melhores ofertas, clique no botão abaixo</p>
                <a class="btn btn-success" href="#">Ver Ofertas</a>
            </div>
        </div>
    </div>
{% endblock %}