{% extends 'base.html' %}
{% block title %}Noticias G1{% endblock %}
{% block content %}
    <div class="h-100 p-5 bg-light border rounded-3 my-5">
        {% for noticia in conteudo %}
            <div>
                <p>Noticia {{ forloop.counter }}</p>
                <p>Titulo: {{ noticia.0 }}</p>
                {% if noticia.1 %}
                    <p>Subtítulo: {{ noticia.1 }}</p>
                {% endif %}
                <p>Link: <a class="outline-primary" href="{{ noticia.2 }}">{{ noticia.2 }}</a></p>
            </div>
            <hr>
            <br>

        {% endfor %}
    </div>
{% endblock %}